@use  "../global" as global;

.p-section__body{
    margin-top: 24px;

}

.p-contact__message{
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    font-family: global.$f-ja;
    font-weight: 600;   

    @include global.mq('sp') {
        font-size: 14px;
        line-height: 1.6;
    }

}

.p-contact__items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    @include global.mq('sp') {
        display: block;
        margin-top: 50px;
    }

}

.p-contact__item{

    margin-left: 70px;

    &:hover {
        opacity: .7;
        transition: all .3s ease;
    }
    &:first-child {
        margin-left: 0;
    }

    @include global.mq('sp') {
        margin-left: 0;
        margin-top: 30px;
        &:first-child {
            margin-top: 0;
        }
    }

}

.p-contact__img{
    display: block;
    text-align: center;
}

.p-contact__name{
    font-family: global.$f-ja;
    font-weight: 600;
    color: #222;
    display: block;
    margin-top: 15px;

    @include global.mq('sp') {
        text-align: center;
    }

}