@use  "../global" as global;

.c-about__text{
    font-family: global.$f-ja;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 0.1em;

    @include global.mq('pc') {
        font-size: 18px;
    }
    @include global.mq('sp') {
        font-size: 16px;
    }

}   
